In [1]:
import pandas as pd

In [2]:
# Create a DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})

In [3]:
df

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [11]:
# Save DataFrame to CSV file
df.to_csv('data.csv', index=False)

In [8]:
print(pd.__version__)

2.2.3